node_modules
# Local Netlify folder
.netlify

# 文档忽略文件
docs/**/node_modules
docs/.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/.temp
docs/**/.pnpm-debug.log

# 项目文件忽略
packages/**/node_modules
packages/**/dist
packages/**/.pnpm-debug.log

# 测试文件忽略
test/packages/**/node_modules
test/packages/**/dist
test/packages/**/.pnpm-debug.log
