body {
  font-size: 14px;
}

:root {
  --xw-primary-color: #295dfa;
  --xw-primary-hover-color-lighter: #547dfb;
  --xw-primary-hover-color: #053eeb;
  --xw-border-color: #dcdfe6;
  --xw-border-radius-base: 6px;
  --xw-example-padding: 24px;
}

:root {
  --vp-c-brand: var(--xw-primary-color);
  --vp-c-brand-light: var(--xw-primary-hover-color);
  --vp-c-brand-lighter: var(--xw-primary-hover-color-lighter);
  --vp-c-brand-dark: var(--xw-primary-color);
  --vp-c-brand-darker: var(--xw-primary-hover-color);
}
